* {
    margin: 0;
    padding-top: 0rem;
    text-align: center;
    /* background-color: white; */
    color: black;
}

p {
    color: black;
    padding: 2rem;
}

h1 {
    color: black;
    /* padding: 2rem; */
}

#display {
    color: black;
    padding: 3rem;
    margin: 1 rem;
    border-radius: 2rem;
    font-weight: bold;
}

#auth {
    color: black;
    padding: 3rem;
    margin: 1rem;
    border-radius: 2rem;
    font-weight: bold;
}

#generate {
    padding: 1rem;
    margin: 1rem;
    color: black;
    border-radius: 1rem;
    border-color: silver;
}

#navtab {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    background-color: silver;
    padding: 2rem;
    margin: 0;
    font-size: x-large;
    font-family: 'Age of Ultron', sans-serif;
}